@{
    ViewData["Title"] = "Home Page";
    UserSession show = (UserSession)ViewData["Message"];

    Courses userCourses = (Courses)ViewData["UserCourses"];

}

<div class="text-center">
    <h1 class="display-4">Welcome @show.FirstName @show.LastName</h1>
</div>

<div class="container">
    @if (show.AccountType == 0)
    {
        <div class="row">
            <div class="col-8">
                <div class="row">
                    @if (userCourses.CourseList != null)
                    {
                        @for (int i = 0; i < userCourses.CourseList.Count; i++)
                        {
                            <div class="col-6">
                                <a href="#" class="stretched-link">

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@userCourses.CourseList[i].ClassTitle | @userCourses.CourseList[i].ClassNumber</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@userCourses.ParseDays(i) @userCourses.CourseList[i].StartTime.ToString()-@userCourses.CourseList[i].EndTime.ToString()</h6>
                                            <p class="card-text">Location: @userCourses.CourseList[i].Location</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        }
                    }
                </div>
            </div>
            <div class="col-4">
                <div class="list-group">
                    <li class="list-group-item text-center fs-3 font-weight-bold">To Dos</li>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Assignment 2</h5>
                            <small>7-27-21 11:59pm</small>
                        </div>
                        <small>Math 1010</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Database Planning</h5>
                            <small>7-29-21 11:59pm</small>
                        </div>
                        <small>CS 3250</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Assignment 3</h5>
                            <small>7-31-21 11:59pm</small>
                        </div>
                        <small>Math 1010</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Market Place</h5>
                            <small>8-7-21 11:59pm</small>
                        </div>
                        <small>CS 3400</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Assignment 4</h5>
                            <small>8-12-21 11:59pm</small>
                        </div>
                        <small>Math 1010</small>
                    </a>
                </div>
            </div>
        </div>
    }
    @if (show.AccountType == 1)
    {
        <div class="row">

            @if (userCourses.CourseList != null)
            {

                @for (int i = 0; i < userCourses.CourseList.Count; i++)
                {
                    <div class="col-4">
                        <a asp-controller="Instructor" asp-action="CourseEdit" asp-route-id="@userCourses.CourseList[i].CourseID" class="stretched-link">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@userCourses.CourseList[i].ClassTitle | @userCourses.CourseList[i].ClassNumber</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@userCourses.ParseDays(i) @userCourses.CourseList[i].StartTime.ToString()-@userCourses.CourseList[i].EndTime.ToString()</h6>
                                    <p class="card-text">Location: @userCourses.CourseList[i].Location</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            }

        </div>
    }
</div>
