@{
    ViewData["Title"] = "Home Page";
    UserSession show = (UserSession)ViewData["Message"];
 
    Courses userCourses = (Courses)ViewData["UserCourses"];

}

<div class="text-center">
    <h1 class="display-4">Welcome @show.FirstName @show.LastName</h1>
</div>

    <div class="container">
        <div class="row">

            @if (userCourses.CourseList != null)
            {
            @for (int i = 0; i < userCourses.CourseList.Count; i++)
            {
                <div class="col-4">
                    <a href="#" class="stretched-link">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@userCourses.CourseList[i].ClassTitle | @userCourses.CourseList[i].ClassNumber</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@userCourses.ParseDays(i) @userCourses.CourseList[i].StartTime.ToString()-@userCourses.CourseList[i].EndTime.ToString()</h6>
                                <p class="card-text">Location: @userCourses.CourseList[i].Location</p>
                            </div>
                        </div>
                    </a>
                </div>

            }
            }

        </div>
    </div>
