@{
    UserSession user = (UserSession)ViewData["Message"];
    ViewData["Title"] = "Registration";
    Courses courses = (Courses)ViewData["Courses"];
    Courses studentCourses = (Courses)ViewData["StudentCourses"];
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!--View Registration Section-->
<div id="RegistrationView">
    <h1 class="display-2 text-center mt-3">@ViewData["Title"]</h1>
    @for (int i = 0; i < courses.CourseList.Count; i++)
    {
        <div class="col-12">
            <a href="#" class="col-sm-8">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-sm-8">
                            <h5 class="card-title">@courses.CourseList[i].ClassTitle </h5>
                            <h6 class="card-subtitle mb-2 text-muted">@courses.ParseDays(i) <br />StartTime: @courses.CourseList[i].StartTime.ToString() EndTime: @courses.CourseList[i].EndTime.ToString()</h6>
                            <p class="card-text">
                                Instructor:
                                @if (courses.CourseInstructors.Any(x => x.UserId == courses.CourseList[i].InstructorID))
                                {
                                    <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).FirstName</span>
                                    <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).LastName</span>
                                }
                                <br />
                                Location: @courses.CourseList[i].Location <br /> @courses.CourseList[i].ClassNumber
                            </p>
                        </div>

                        <div class="col-sm-4 row align-items-end justify-content-end">
                            @if (studentCourses.CourseList.Count != 0)
                            {
                                @if (studentCourses.CourseList.Any(x => x.CourseID == courses.CourseList[i].CourseID))
                                {
                                    <form>
                                        <div style="display:none">
                                            <input type="number" name="studentID" value=@user.UserId />
                                            <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                        </div>
                                        <button type="submit" class=" btn-danger mx-2">Drop</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="Register" method="post">
                                        <div style="display:none">
                                            <input type="number" name="studentID" value=@user.UserId />
                                            <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                            <p>This is from the inner form.</p>
                                        </div>
                                        <button type="submit" class=" btn-success mx-2">Register</button>
                                    </form>
                                }
                            }
                            else if (studentCourses.CourseList.Count == 0)
                            {
                                <form asp-action="Register" method="post">
                                    <div style="display:none">
                                        <input type="number" name="studentID" value=@user.UserId />
                                        <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                        <p>This is from the outer form.</p>
                                    </div>
                                    <button type="submit" class=" btn-success mx-2">Register</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<!--End View Registration Section-->
