@{
    UserSession user = (UserSession)ViewData["Message"];
    ViewData["Title"] = "Registration";
    Courses courses = (Courses)ViewData["Courses"];
    Courses studentCourses = (Courses)ViewData["StudentCourses"];
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!--View Registration Section-->
<div id="RegistrationView">
    <h1 class="display-4 text-center mt-3">@ViewData["Title"]</h1>
    <table class="table table-hover bg-white mt-5">
        <thead>
            <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Course Title</th>
                <th scope="col">Instructor</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < courses.CourseList.Count; i++)
            {
            <tr>
                <th scope="row">@courses.CourseList[i].ClassNumber</th>
                <td>@courses.CourseList[i].ClassTitle</td>
                <td>
                    @if (courses.CourseInstructors.Any(x => x.UserId == courses.CourseList[i].InstructorID))
                    {
                        <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).FirstName</span>
                        <span>@courses.CourseInstructors.Find(x => x.UserId == courses.CourseList[i].InstructorID).LastName</span>
                    }
                </td>
                <td>@courses.ParseDaysShort(i)</td>
                <td>@courses.CourseList[i].StartTime.ToString() - @courses.CourseList[i].EndTime.ToString()</td>
                <td>@courses.CourseList[i].Location</td>
                <td>
                    @if (studentCourses.CourseList.Count != 0)
                    {
                        @if (studentCourses.CourseList.Any(x => x.CourseID == courses.CourseList[i].CourseID))
                        {
                            <form asp-action="Drop" method="post">
                                <div style="display:none">
                                    <input type="number" name="studentID" value=@user.UserId />
                                    <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                </div>
                                <button type="submit" class=" btn-danger mx-2">Drop</button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Register" method="post">
                                <div style="display:none">
                                    <input type="number" name="studentID" value=@user.UserId />
                                    <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                </div>
                                <button type="submit" class=" btn-success mx-2">Register</button>
                            </form>
                        }
                    }
                    else if (studentCourses.CourseList.Count == 0)
                    {
                        <form asp-action="Register" method="post">
                            <div style="display:none">
                                <input type="number" name="studentID" value=@user.UserId />
                                <input type="number" name="courseID" value=@courses.CourseList[i].CourseID />
                                <p>This is from the outer form.</p>
                            </div>
                            <button type="submit" class=" btn-success mx-2">Register</button>
                        </form>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!--End View Registration Section-->
