@model ClassValidationAdd;
@{
    UserSession user = (UserSession)ViewData["Message"];
    ViewData["Title"] = "Class Editor";
    Departments depts = (Departments)ViewData["DepartmentData"];
    Courses courses = (Courses)ViewData["Courses"];
    string viewState = "block;";
    string createState = "none;";
    string deleteState = "none;";
    string editState = "none;";
    if (user.ClassState != null && user.ClassState == 1)
    {
        viewState = "none;";
        createState = "block;";
    }

}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<!--View Classes Section-->
<div id="ClassView" style="display:@viewState">
    <h1 class="display-2 text-center mt-3">@ViewData["Title"]</h1>
    <table class="table table-hover bg-white mt-5">
        <thead>
            <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Course Title</th>
                <th scope="col">Meeting Days</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Location</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < courses.CourseList.Count; i++)
            {
            <tr>
                <th scope="row">@courses.CourseList[i].ClassNumber</th>
                <td>@courses.CourseList[i].ClassTitle</td>
                <td>@courses.ParseDays(i)</td>
                <td>@courses.CourseList[i].StartTime.ToString()</td>
                <td>@courses.CourseList[i].EndTime.ToString()</td>
                <td>@courses.CourseList[i].Location</td>
                <td>
                    <button type="button">Edit</button>
                </td>
                <td>
                    <button type="button">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="text-center mt-3">
        <button type="button" class=" btn-primary mx-2" onclick="ToggleView(1,1)">Add Class</button>
    </div>
</div>
<!--End View Classes Section-->
<!--Add Class Section-->
<div id="AddClassView" style="display: @createState">
    <h1 class="display-2 text-center">Create New Class</h1>
    <form asp-action="AddClass" method="post" class="w-75 mx-auto mt-5">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input type="text" asp-for="Instructor" name="Instructor" class="form-control" hidden value="@user.FirstName @user.LastName" />
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Department" class="control-label mb-0"><b>Department</b></label>
            </div>
            <div class="col-sm-10">
                <select id="inDepartment" asp-for="Department" name="Department" class="form-control" value="0" required>
                    @for (int i = 0; i < depts.DeptsList.Count; i++)
                    {
                        <option value=@depts.DeptsList[i].DeptID>@depts.DeptsList[i].DeptName</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Department"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="ClassNumber" class="control-label mb-0">Class Number</label>
            </div>
            <div class="col-sm-10">
                <input id="inClassNumber" type="text" asp-for="ClassNumber" name="ClassNumber" class="form-control" required />
                <span class="text-danger" asp-validation-for="ClassNumber"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="ClassTitle" class="control-label mb-0">Title</label>
            </div>
            <div class="col-sm-10">
                <input id="inClassTitle" type="text" asp-for="ClassTitle" name="ClassTitle" class="form-control" required />
                <span class="text-danger" asp-validation-for="ClassTitle"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Description" class="control-label mb-0">Description</label>
            </div>
            <div class="col-sm-10">
                <textarea id="inDescription" asp-for="Description" name="Description" class="form-control" required rows="3" cols="50">
                </textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Location" class="control-label mb-0">Location</label>
            </div>
            <div class="col-sm-10">
                <input id="inLocation" type="text" asp-for="Location" name="Location" class="form-control" required />
                <span class="text-danger" asp-validation-for="Location"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Credits" class="control-label mb-0">Credits</label>
            </div>
            <div class="col-sm-10">
                <input id="inCredits" type="text" asp-for="Credits" name="Credits" class="form-control" required />
                <span class="text-danger" asp-validation-for="Credits"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="Capacity" class="control-label mb-0">Capacity</label>
            </div>
            <div class="col-sm-10">
                <input id="inCapacity" type="text" asp-for="Capacity" name="Capacity" class="form-control" required />
                <span class="text-danger" asp-validation-for="Capacity"></span>
            </div>
        </div>

        <div id="daySelect" class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="MeetDays" class="control-label mb-0">Meeting Days</label>
            </div>
            <div class="col-sm-8 d-flex align-items-center justify-content-center p-0">

                <button id="Sunday" type="button" onclick="ToggleDay(0)">Sunday</button> <button id="Monday" type="button" onclick="ToggleDay(1)">Monday</button> <button id="Tuesday" type="button" onclick="ToggleDay(2)">Tuesday</button> <button id="Wednesday" type="button" onclick="ToggleDay(3)">Wednesday</button> <button id="Thursday" type="button" onclick="ToggleDay(4)">Thursday</button> <button id="Friday" type="button" onclick="ToggleDay(5)">Friday</button> <button id="Saturday" type="button" onclick="ToggleDay(6)">Saturday</button>


            </div>
            <div class="col-2">
                <span class="text-danger text-right" asp-validation-for="MeetDays"></span>
            </div>
        </div>
        <input id="InputMeetDays" type="text" asp-for="MeetDays" name="MeetDays" class="form-control" value="xxxxxxx" hidden />


        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="StartTime" class="control-label mb-0">Start Time</label>
            </div>
            <div class="col-sm-10">
                <input id="inStartTime" type="time" asp-for="StartTime" name="StartTime" class="form-control" required />
                <span class="text-danger" asp-validation-for="StartTime"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 text-left d-flex align-items-center justify-content-end p-0">
                <label asp-for="EndTime" class="control-label mb-0">End Time</label>
            </div>
            <div class="col-sm-10">
                <input id="inEndTime" type="time" asp-for="EndTime" name="EndTime" class="form-control" required />
                <span class="text-danger" asp-validation-for="EndTime"></span>
            </div>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Add Class" class="btn btn-primary mx-2" />
            <button onClick="ToggleView(0,0)" type="button" class="btn btn-warning">Cancel</button>
        </div>

    </form>
</div>
<!--End Add Class Section-->
<!--Delete Confirmation-->
<!--End Delete Confirmation-->
<!--Update Section-->
<!--End Update Section-->

<script>
    //Declare static variables
    var ButtonOff = "background-color:aliceblue;";
    var ButtonOn = "background-color:lightcoral;";

    var input = document.getElementById("InputMeetDays");

    var Monday = document.getElementById("Monday");
    var Tuesday = document.getElementById("Tuesday");
    var Wednesday = document.getElementById("Wednesday");
    var Thursday = document.getElementById("Thursday");
    var Friday = document.getElementById("Friday");
    var Saturday = document.getElementById("Saturday");
    var Sunday = document.getElementById("Sunday");

    var viewClass = document.getElementById("ClassView");
    var createClass = document.getElementById("AddClassView");
    var deleteClass = "";
    var updateClass = "";

    //declare button states
    var stMon = { on: false };
    var stTue = { on: false };
    var stWed = { on: false };
    var stThu = { on: false };
    var stFri = { on: false };
    var stSat = { on: false };
    var stSun = { on: false };

    //set default button states
    window.onload = function () {
        Monday.style = ButtonOff;
        Tuesday.style = ButtonOff;
        Wednesday.style = ButtonOff;
        Thursday.style = ButtonOff;
        Friday.style = ButtonOff;
        Saturday.style = ButtonOff;
        Sunday.style = ButtonOff;
        ClearCreateFields();
    };

    //toggle input string and visual states
    function ToggleDay(val) {
        switch (val) {
            case 0:
                ToggleColor(stSun, Sunday);
                break;
            case 1:
                ToggleColor(stMon, Monday);
                break;
            case 2:
                ToggleColor(stTue, Tuesday);
                break;
            case 3:
                ToggleColor(stWed, Wednesday);
                break;
            case 4:
                ToggleColor(stThu, Thursday);
                break;
            case 5:
                ToggleColor(stFri, Friday);
                break;
            case 6:
                ToggleColor(stSat, Saturday);
                break;
        }
        UpdateDays(val);
    }

    //toggle button color, and button status
    function ToggleColor(val, day) {
        if (val.on) {
            day.style = ButtonOff
            val.on = false;
        }
        else {
            day.style = ButtonOn
            val.on = true;
        }
    }

    //update input meeting string
    function UpdateDays(val) {
        var Meetings = input.value;
        if (Meetings.charAt(val) == 'x') {
            Meetings = Meetings.replaceAt(val, "y");
        }
        else {
            Meetings = Meetings.replaceAt(val, "x");
        }
        input.value = Meetings;
    }

    //update string index position
    String.prototype.replaceAt = function (index, char) {
        return this.substr(0, index) + char + this.substr(index + char.length);

    };

    //View toggles
    function ToggleView(val, option) {
        switch (val) {
            case 0:
                ClearCreateFields();
                viewClass.style.setProperty("display", "block");
                createClass.style.setProperty("display", "none");
                
                break;

            case 1:
                createClass.style.setProperty("display", "block");
                viewClass.style.setProperty("display", "none");
                break;

            case 2:

                break;

            case 3:
                break;
        }
    }

    function ClearCreateFields() {
        document.getElementById("inClassNumber").value = null;
        document.getElementById("inClassTitle").value = null;
        document.getElementById("inDescription").value = null;
        document.getElementById("inLocation").value = null;
        document.getElementById("inCredits").value = null;
        document.getElementById("inCapacity").value = null;
        document.getElementById("inStartTime").value = null;
        document.getElementById("inEndTime").value = null;

        if (stSun.on) {
            ToggleColor(stSun, Sunday);
            UpdateDays(0);
        }
        if (stMon.on) {
            ToggleColor(stMon, Monday);
            UpdateDays(1);
        }
        if (stTue.on) {
            ToggleColor(stTue, Tuesday);
            UpdateDays(2);
        }
        if (stWed.on) {
            ToggleColor(stWed, Wednesday);
            UpdateDays(3);
        }
        if (stThu.on) {
            ToggleColor(stThu, Thursday);
            UpdateDays(4);
        }
        if (stFri.on) {
            ToggleColor(stFri, Friday);
            UpdateDays(5);
        }
        if (stSat.on) {
            ToggleColor(stSat, Saturday);
            UpdateDays(6);
        }
 

    }
</script>
