

@{
    SpecificCourse course = (SpecificCourse)ViewData["ClickedCourse"];
    ViewData["Title"] = "Courses";
    string viewState = "block;";
    string createState = "none;";
    string deleteState = "none;";
    string editState = "none;";
    string submissionState = "none;";
}

<div id="ClassView" style="display:@viewState">
    <h1 class="display-4 text-center mt-3">@ViewData["Title"]</h1>
    <table class="table table-hover bg-white mt-5">
        <thead>
            <tr>
                <th scope="col">Course Number</th>
                <th scope="col">Course Title</th>
                <th scope="col">Meeting Days</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Location</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < courses.CourseList.Count; i++)
            {
            <tr>
                <th scope="row">@courses.CourseList[i].ClassNumber</th>
                <td>@courses.CourseList[i].ClassTitle</td>
                <td>@courses.ParseDays(i)</td>
                <td>@courses.CourseList[i].StartTime.ToString()</td>
                <td>@courses.CourseList[i].EndTime.ToString()</td>
                <td>@courses.CourseList[i].Location</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary mx-2" onclick="ToggleView(1,1)">Add Class</button>
    </div>
</div>

